﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Thera Trove </title>
    @Styles.Render("~/assets/plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/assets/plugins/flexslider/flexslider.css")
    @Styles.Render("~/assets/plugins/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/assets/plugins/themify/themify-icons.css")
    @Styles.Render("~/assets/css/style.css")
    @Styles.Render("~/assets/css/responsive.css")
    @Scripts.Render("~/assets/js/jquery.min.js")
    @Scripts.Render("~/assets/plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/assets/plugins/flexslider/jquery.flexslider-min.js")
    @Scripts.Render("~/assets/js/jquery.counterup.min.js")
    @Scripts.Render("~/assets/js/waypoints.min.js")
    @Scripts.Render("~/assets/js/counter.js")
    @Scripts.Render("~/assets/js/flexslider.js")
    @Scripts.Render("~/assets/js/common.js")       
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

</head>
<body>
    <div class="header-stricky">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="site-logo">
                        <a href=@Url.Action("Index", "Home")><img src=@Url.Content("~/assets/images/home/site-logo.png") alt="" class="img-responsive" /></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-default navbar-static-top">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav scrollto">
                                <li>
                                   @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li>
                                @*<a href="Search">Search</a>*@
                                    @Html.ActionLink("Search", "Therapistlist", "Search")
                                </li>
                                <li>
                                
                                    @Html.ActionLink("How it works", "HowItWorks", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("About", "About", "Home")
                                
                                </li>
                                <li>
                                @Html.ActionLink("Contact", "Contact", "Home")
                                
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-3 text-right">
                    <div class="link-account">
                        @if (string.IsNullOrEmpty(Convert.ToString(Session["UserId"])))
                        {
                            @Html.ActionLink("Login", "Login", "Home", null, new { @class = "login active" })
                            @Html.ActionLink("Sign Up", "SignUp", "Home", null, new { @class = "signup" })
                        }
                        else
                        {
                            @Html.ActionLink("My Account", "Profile", "Home", null, new { @class = "login " })
                            
                            @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "login " })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    <div class="body-content">
        @RenderBody()
        @*<hr />*@
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-block">
                        <h5>Information</h5>
                        <hr>
                        <ul class="footer-link">
                            
                            <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                            <li><a href="@Url.Action("TermsAndConditions", "Home")">Terms & Conditions</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy", "Home")" >Privacy Policy</a></li>
                            @*<li>

                                @Html.ActionLink("FAQ", "FAQ", "Home")
                            </li>*@
                        </ul>
                    </div>
                    <div class="footer-block">
                        <h5>For Members</h5>
                        <hr>
                        <ul class="footer-link">
                            
                            <li><a href="@Url.Action("Therapistlist","Search")">Browse Therapists</a></li>
                            <li><a href="#">Browse Conditions</a></li>
                        </ul>
                    </div>
                    <div class="footer-block">
                        <h5>For Therapists</h5>
                        <hr>
                        <ul class="footer-link">
                            @if (string.IsNullOrEmpty(Convert.ToString(Session["UserId"])))
                            {
                                <li>
                                    @Html.ActionLink("Login", "Login", "Home")
                                </li>
                                <li>@Html.ActionLink("Sign Up", "SignUp", "Home")</li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink("My Account", "Profile", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Logout", "Logout", "Home")
                                </li>
                            }

</ul>
                    </div>
                    <div class="footer-block footer-block2">
                        
                         
                        <div class="register">
                            <a href="#">8,368,480 <span>Registerd Members</span></a>
                        </div>
                        <div class="register job">
                            <a href="#">1,50,000 <span>Latest Searches</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 padding-left">
                            <span>&#169; 2017 TheraTrove. All rights reserved.</span>
                        </div>
                         
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
