﻿
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">
                    <div class="alert alert-sucess">
                        <strong>Not Found</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 