﻿
@{
    ViewBag.Title = "Server Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">
                    <div class="alert alert-sucess">
                        <strong>Server Error</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 