﻿@model theratrove.data.PageContent
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

 
@Styles.Render("~/assets/plugins/summernote/summernote.css")
@Scripts.Render("~/assets/js/jquery.min.js")
@Scripts.Render("~/assets/js/bootstrap.js")
@Scripts.Render("~/assets/plugins/summernote/summernote.js")
<script type="text/javascript">
    (function ($) {
        function HomeIndex() {
            var $this = this;

            function initialize() {
                $('#PageContent1').summernote({
                    focus: true,
                    height: 600,
                    codemirror: {
                        theme: 'united'
                    }
                });
            }

            $this.init = function () {
                initialize();
            }
        }
        $(function () {
            var self = new HomeIndex();
            self.init();
        })
    }(jQuery))
</script>
<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Admin")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>

                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">How It Work</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">
        
        <!--begin::Portlet-->
        <div class="m-portlet">
            @*<div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            @Html.Raw(MvcBreadCrumbs.BreadCrumb.Display())
                        </h3>
                    </div>
                </div>
            </div>*@

            <!--begin::Form-->

            @using (Html.BeginForm())
            {
                <div class="m-portlet__body">
                    
                    <div class="form-group">
                        <label class="col-form-label col-lg-3 col-sm-12">How it work Page Content</label>
                        
                        <div class="col-lg-9">
                            @Html.TextAreaFor(model => model.PageContent1, new { @class = "form-control", @cols = 80, @rows = 10 })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3">
                            <button class="btn btn-success" id="btnSubmit" type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            }
          
            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>
