﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@Scripts.Render("~/Scripts/Chart.js")
@Scripts.Render("~/Scripts/Chart.min.js")
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    
        
<script>

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(DownloadChartData);

        function DownloadChartData() {
            $.ajax({
                url: '@Url.Action("GetChartData", "Admin")',
                success: function (response) {
                    ShowChart(response);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        };
        function ShowChart(data) {
            //Search By Month
            var options = {
                title: "",
                titleTextStyle: {
                    bold: true,
                    fontSize: 15,
                },
                
                isStacked: true,
                bar: { groupWidth: "95%" },
                'chartArea': { 'width': '90%', 'height': '80%' },

                legend: { position: 'none'  },
            };
            var dataTable = new google.visualization.DataTable(data.dataTable);
            var chart = new google.visualization.LineChart(document.getElementById('chart-area'));
            chart.draw(dataTable, options);
        };
  
        

</script>

<script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart1);

        function drawChart1() {
            $.ajax({
                url: '@Url.Action("GetChartDataSearchByCity", "Admin")',
                success: function (response) {
                    
                    drawChart(response);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        };
        function drawChart(data) {
            //Search By City
            var options = {
                title: "",
                titleTextStyle: {
                    bold: true,
                    color: '#333',
                    
                    fontSize: 15,
                },
                legend: { position: 'top', alignment: 'start' },
                'chartArea': { 'width': '90%', 'height': '80%' },
               
                hAxis: { title: 'City', titleTextStyle: { color: '#333', bold: true, fontSize: 15 } },
                vAxis: { minValue: 0 },
                bar: { groupWidth: "40%" },
                
            };
            


            var dataTable = new google.visualization.DataTable(data.dataTable);
            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(dataTable, google.charts.Bar.convertOptions(options));
        }
</script>

<script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChartSearchByCondition);

        function drawChartSearchByCondition() {
            $.ajax({
                url: '@Url.Action("GetChartDataSearchByCondition", "Admin")',
                success: function (response) {
                    debugger;
                    drawChartGetChartDataSearchByCondition(response);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        };
        function drawChartGetChartDataSearchByCondition(data) {
            //Search By Condition
            var options = {
                title: "",
                titleTextStyle: {
                    bold: true,
                    color: '#333',
                    fontSize: 15,
                },
                legend: { position: 'top', alignment: 'start' },
                'chartArea': { 'width': '90%', 'height': '80%' },
                
                hAxis: { title: 'City', titleTextStyle: { color: '#333', bold: true, fontSize: 15 } },
                vAxis: { minValue: 0 },
                bar: { groupWidth: "20%" },

            };



            var dataTable = new google.visualization.DataTable(data.dataTable);
            var chart = new google.charts.Bar(document.getElementById('searchByConditionChart'));

            chart.draw(dataTable, google.charts.Bar.convertOptions(options));
        }
</script>



<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        
        
        <p title="Search By City" style="font-size:15px; color :#333; font-weight:bold; ">Search By City</p> 
        <div id="columnchart_material" style="height:400px; "></div>
        <br />
        <p title="Search By Month" style="font-size:15px; color :#333; font-weight:bold; ">Search By Month</p> 
        <div id="chart-area" style="height:400px; "></div>
        <br />
        <p title="Search By Condition" style="font-size:15px; color :#333; font-weight:bold; ">Search By Condition</p> 
        <div id="searchByConditionChart" style="height:400px; "></div>
        
    </div>
</div>

