﻿@model theratrove.Models.SearchLogReportModel
@{
    ViewBag.Title = "Search Log Report";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Admin")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">Search Log</span>
                        </a>
                    </li>
                    
                </ul>
            </div>

        </div>
    </div>
	
    
	
    <!-- END: Subheader -->
    <div class="m-content">
         
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Search Log
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                       
                        <li class="m-portlet__nav-item"></li>
                        <li class="m-portlet__nav-item">
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-ellipsis-h m--font-brand"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">Quick Actions</span>
                                                    </li>
                                                    <li class="m-nav__separator">-</li>
                                                    <li class="m-nav__item">
                                                        <a href="@Url.Action("SearchLogReportExport", "Admin")" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">Download File</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                
                    <!--begin: Datatable -->
                    <table class="table table-responsive table-striped- table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                                <th> Id</th>
                                <th> IP Address</th>
                                <th> Keyword</th>
                                <th> City</th>
                                <th> State    </th>
                                <th> Country</th>
                                <th> Zip</th>
                                <th> Issues</th>
                                <th> Insurance</th>
                                <th> Gender</th>
                                <th> Language</th>
                                <th> Faith</th>
                                <th> Looking For</th>
                                <th> Location</th>
                                <th> Created Date Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SearchFilterLogList)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.IPAddress</td>
                                    <td>@item.Keyword</td>
                                    <td>@item.City</td>
                                    <td> @item.State    </td>
                                    <td>@item.Country</td>
                                    <td>@item.Zip</td>
                                    <td>@item.Issues</td>
                                    <td>@item.Insurance</td>
                                    <td>@item.Gender</td>
                                    <td>@item.Language</td>
                                    <td>@item.Faith</td>
                                    <td>@item.LookingFor</td>
                                    <td>@item.Location</td>
                                    <td>@item.DateCreated</td>
                                </tr>
                            }


                        </tbody>
                    </table>
</div>
        </div>

        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
