﻿@model theratrove.Models.SearchFilterModel
@{
    ViewBag.Title = "Search Filter Add Edit";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

 <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">@ViewBag.HeaderTitle</h3>
                @Html.Raw(MvcBreadCrumbs.BreadCrumb.Display())
            </div>

        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--begin::Portlet-->
        <div class="m-portlet">
            @*<div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                @Html.Raw(MvcBreadCrumbs.BreadCrumb.Display())
                            </h3>
                        </div>
                    </div>
                </div>*@

            <!--begin::Form-->

            @using (Html.BeginForm("SearchFilterAddEdit", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()


                <div class="m-portlet__body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.SearchFilter.Id)
                    @Html.HiddenFor(model => model.SearchFilter.FilterType)
                    @Html.HiddenFor(model => model.SearchFilter.CreateDate)
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                        <div class="alert alert-danger">
                            <strong>@ViewBag.ErrorMessage</strong>
                        </div>
                    }

                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">FilterType</label>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            @Html.EditorFor(model => model.SearchFilter.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SearchFilter.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">DisplayOrderNo</label>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <label class="col-form-label col-lg-3 col-sm-12"> @Model.SearchFilter.DisplayOrderNo </label>
                            @Html.HiddenFor(model => model.SearchFilter.DisplayOrderNo)

                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">FilterControlType</label>
                        <div class="col-lg-7 col-md-7 col-sm-12">

                            @Html.DropDownListFor(m => m.SearchFilter.FilterControlType, Model.ControlTypeList, "Please select")
                            @Html.ValidationMessageFor(model => model.SearchFilter.FilterControlType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Active</label>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            @Html.CheckBox("SearchFilter.Active", Model.SearchFilter.Active.GetValueOrDefault(false))
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-9 ml-lg-auto">
                                <button type="submit" class="btn btn-brand">Submit</button>

                                @Html.ActionLink("Cancel", "SearchFilter", "Admin", null, new { @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>

 