﻿@model theratrove.Models.TestimonialModel
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">

                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Admin")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="@Url.Action("UserList", "Admin")" class="m-nav__link m-nav__link--icon">
                            <span class="m-nav__link-text">Admin User</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">@ViewBag.Message</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
       
    </div>


    <!-- END: Subheader -->
    <div class="m-content">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            @ViewBag.Message
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
           @using (Html.BeginForm("Testimonial", "Admin", FormMethod.Post))
           {
            @Html.AntiForgeryToken()
                <div class="m-portlet__body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    @Html.HiddenFor(model => model.Testimonial.Id)
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Name</label>
                        <div class="col-lg-7 col-md-7 col-sm-12">

                            @Html.EditorFor(model => model.Testimonial.Name , new { htmlAttributes = new { @class = "form-control" } })
                            
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Designation</label>
                        <div class="col-lg-7 col-md-7 col-sm-12">

                            @Html.EditorFor(model => model.Testimonial.Designation, new { htmlAttributes = new { @class = "form-control" } })
                            
                        </div>
                    </div>
                    
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Details</label>
                        <div class="col-lg-7 col-md-7 col-sm-12">

                            @Html.EditorFor(model => model.Testimonial.Details, new { htmlAttributes = new { @class = "form-control" } })
                            

                            
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Active</label>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            @Html.CheckBox("Testimonial.active", Model.Testimonial.Active.GetValueOrDefault(false))
                            
                        </div>
                    </div>
                     
 
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions p-2">
                        <div class="row">
                            <div class="col-lg-3 ml-lg-auto">
                                
                                @Html.ActionLink("Cancel", "TestimonialList", "Admin", null, new { @class = "btn btn-secondary" })
                            </div>
                            <div class="col-lg-3 ml-lg-auto">
                                <button type="submit" class="btn btn-brand ">Submit</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
           }

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>
