﻿@model theratrove.Models.TestimonialModel
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Admin")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">Testimonial List</span>
                        </a>
                    </li>
                    
                </ul>
            </div>

        </div>
    </div>
	
    
	
    <!-- END: Subheader -->
    <div class="m-content">
         
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Testimonial List 
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="@Url.Action("Testimonial", "Admin")" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New record</span>
                                </span>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item"></li>
                        
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">

                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Active</th>
                            <th>CreateDate</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TestimonialList)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td> @item.Designation   </td>
                                <td>@item.Active</td>
                                <td>@item.CreateDate</td>
                                <td>
                                    <a href="@Url.Action("Testimonial", "Admin", new { Id = item.Id })" class="btn btn-outline-primary btn-sm 	m-btn m-btn--icon m-btn--pill">
                                        <span>
                                            <i class="fa fa fa-edit"></i>
                                            <span> Edit </span>
                                        </span>
                                    </a>
                                    <a href="@Url.Action("DeleteTestimonial", "Admin", new { id = item.Id })"
                                       onclick="return confirm ('Are you sure want to delete this testimonial?');"
                                       class="btn btn-outline-danger m-btn btn-sm  m-btn--icon m-btn--pill">
                                        <span>
                                            <i class="fa fa-trash"></i>
                                            <span>Delete</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                        
                      
                    </tbody>
                </table>
            </div>
        </div>

        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
