﻿@model theratrove.Models.UserModel
@{
    ViewBag.Title = "Therapists";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@Styles.Render("~/assets/plugins/summernote/summernote.css")
@Scripts.Render("~/assets/js/jquery.min.js")
@Scripts.Render("~/assets/js/bootstrap.js")
@Scripts.Render("~/assets/plugins/summernote/summernote.js")
<script type="text/javascript">
    (function ($) {
        function HomeIndex() {
            var $this = this;

            function initialize() {
                $('#AboutMe').summernote({
                    focus: true,
                    height: 200,
                    codemirror: {
                        theme: 'united'
                    }
                });
            }

            $this.init = function () {
                initialize();
            }
        }
        $(function () {
            var self = new HomeIndex();
            self.init();
        })
    }(jQuery))
</script>


<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">

                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Admin")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="@Url.Action("ViewTherapists", "Admin")" class="m-nav__link m-nav__link--icon">
                            <span class="m-nav__link-text">Therapists User</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">@ViewBag.Message</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>

    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--begin::Portlet-->
        <div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    @ViewBag.HeaderTitle
                </h3>
            </div>
        </div>
    </div>

    <!--begin::Form-->
    @using (Html.BeginForm("Therapists", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="m-portlet__body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.UserId)
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">User Name</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Email</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Password</label>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", @type = "password" })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Profile Pic</label>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    @if (!string.IsNullOrEmpty(Model.ProfilePic))
                    {
                        <div class="edit-profile-img">
                            <img class="img-responsive" src="@Model.ProfilePic" />
                        </div>

                    }

                    <input class="" id="fileUpload" placeholder="Choose file" name="fileUpload" type="file">

                </div>

            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">First Name</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Last Name</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>


            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Title</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>


            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Gender</label>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>{
        new SelectListItem{ Text="Male", Value="1"},
        new SelectListItem{ Text="Female", Value="2"}
        }, "--- Select ---"
        )

                </div>
            </div>


            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Years In Service</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.YearsInService, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Education</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Accept Insurance</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.AcceptInsurance, new { htmlAttributes = new { @class = "" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">License</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.License, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">About Me</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.TextAreaFor(model => model.AboutMe, new { rows = 10, cols = 60, htmlAttributes = new { @class = "form-control", } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Video Url</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Phone Number</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Location</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">AvgCost</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.AvgCost, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Address1</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Address2</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">City</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">State</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">ZipCode</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Active</label>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    @Html.CheckBox("Active",Model.Active.GetValueOrDefault(false))
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Faith</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @for (var i = 0; i < Model.SelectedFaith.Count(); i++)
                    {
                        <div class="checkbox">
                            @Html.HiddenFor(m => Model.SelectedFaith[i].Id)
                            @Html.HiddenFor(m => Model.SelectedFaith[i].itemFor)
                            @Html.HiddenFor(m => Model.SelectedFaith[i].Name)
                            @Html.CheckBoxFor(m => Model.SelectedFaith[i].Checked)
                            @Html.DisplayFor(m => Model.SelectedFaith[i].Name)
                        </div>
                    }


                </div>

            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">For</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @for (var i = 0; i < Model.SelectedFor.Count(); i++)
                    {
                        <div class="checkbox">

                            @Html.HiddenFor(m => Model.SelectedFor[i].Id)
                            @Html.HiddenFor(m => Model.SelectedFor[i].itemFor)
                            @Html.HiddenFor(m => Model.SelectedFor[i].Name)
                            @Html.CheckBoxFor(m => Model.SelectedFor[i].Checked)
                            @Html.DisplayFor(m => Model.SelectedFor[i].Name)

                        </div>
                    }


                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Issues</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @for (var i = 0; i < Model.SelectedIssues.Count(); i++)
                    {
                        <div class="checkbox">
                            @Html.HiddenFor(m => Model.SelectedIssues[i].Id)
                            @Html.HiddenFor(m => Model.SelectedIssues[i].itemFor)
                            @Html.HiddenFor(m => Model.SelectedIssues[i].Name)
                            @Html.CheckBoxFor(m => Model.SelectedIssues[i].Checked)
                            @Html.DisplayFor(m => Model.SelectedIssues[i].Name)
                        </div>
                    }


                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Insurance</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @for (var i = 0; i < Model.SelectedInsurance.Count(); i++)
                    {
                        <div class="checkbox">
                            @Html.HiddenFor(m => Model.SelectedInsurance[i].Id)
                            @Html.HiddenFor(m => Model.SelectedInsurance[i].itemFor)
                            @Html.HiddenFor(m => Model.SelectedInsurance[i].Name)
                            @Html.CheckBoxFor(m => Model.SelectedInsurance[i].Checked)
                            @Html.DisplayFor(m => Model.SelectedInsurance[i].Name)
                        </div>
                    }


                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Gender Preference</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @for (var i = 0; i < Model.SelectedGenderPreference.Count(); i++)
                    {
                        <div class="checkbox">
                            @Html.HiddenFor(m => Model.SelectedGenderPreference[i].Id)
                            @Html.HiddenFor(m => Model.SelectedGenderPreference[i].itemFor)
                            @Html.HiddenFor(m => Model.SelectedGenderPreference[i].Name)
                            @Html.CheckBoxFor(m => Model.SelectedGenderPreference[i].Checked)
                            @Html.DisplayFor(m => Model.SelectedGenderPreference[i].Name)
                        </div>
                    }


                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Language</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @for (var i = 0; i < Model.SelectedLanguage.Count(); i++)
                    {
                        <div class="checkbox">
                            @Html.HiddenFor(m => Model.SelectedLanguage[i].Id)
                            @Html.HiddenFor(m => Model.SelectedLanguage[i].itemFor)
                            @Html.HiddenFor(m => Model.SelectedLanguage[i].Name)
                            @Html.CheckBoxFor(m => Model.SelectedLanguage[i].Checked)
                            @Html.DisplayFor(m => Model.SelectedLanguage[i].Name)
                        </div>
                    }


                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Location</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @for (var i = 0; i < Model.SelectedLocation.Count(); i++)
                    {
                        <div class="checkbox">
                            @Html.HiddenFor(m => Model.SelectedLocation[i].Id)
                            @Html.HiddenFor(m => Model.SelectedLocation[i].itemFor)
                            @Html.HiddenFor(m => Model.SelectedLocation[i].Name)
                            @Html.CheckBoxFor(m => Model.SelectedLocation[i].Checked)
                            @Html.DisplayFor(m => Model.SelectedLocation[i].Name)
                        </div>
                    }


                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-form-label col-lg-3 col-sm-12">Types Of Therapy</label>
                <div class="col-lg-7 col-md-7 col-sm-12">

                    @for (var i = 0; i < Model.SelectedTherapistTypesOfTherapy.Count(); i++)
                    {
                        <div class="checkbox">
                            @Html.HiddenFor(m => Model.SelectedTherapistTypesOfTherapy[i].Id)
                            @Html.HiddenFor(m => Model.SelectedTherapistTypesOfTherapy[i].Name)
                            @Html.CheckBoxFor(m => Model.SelectedTherapistTypesOfTherapy[i].Checked)
                            @Html.DisplayFor(m => Model.SelectedTherapistTypesOfTherapy[i].Name)
                        </div>
                    }


                </div>
            </div>
			
			<div class="row">
                            <div class="col-lg-6 text-left">

                                @Html.ActionLink("Cancel", "ViewTherapists", "Admin", null, new { @class = "btn btn-secondary" })
                            </div>
                            <div class="col-lg-6 text-right">
                                <button type="submit" class="btn btn-brand">Submit</button>

                            </div>
                        </div>

        </div>
                

    }
    <br />
    
       
			 <div class="m-portlet__body">
            <h2> <span>Gallery</span> </h2>
			
       
              <div class="row">

                  @foreach (var therapyGallery in Model.TherapyGalleryList)
            {
                      <div class="col-sm-3 col-md-2">
                          <div class="profile-gallery">
                              <img class="img-responsive" alt="@therapyGallery.Id" src=" @therapyGallery.GalleryImageURL " />
                              <center>
                                  <a href="@Url.Action("DeleteGalleryPic", "Admin", new { id = therapyGallery.Id, userId= therapyGallery.UserId})" onclick="return confirm ('Are you sure want to delete this gallery pic?');" class="btn btn-danger btn-sm">
                                      <span>
                                          <i class="fa fa-trash"></i>
                                          <span>Delete</span>
                                      </span>
                                  </a>
                              </center>
                          </div>
                      </div>

                  }

              </div>

    @if (Model.TherapyGalleryList.Count() <= 9)
    {
        using (Html.BeginForm("GalleryPicUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            
           
            @Html.HiddenFor(model => model.UserId)

            
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">

                            <input class="custom-file-input" id="fileUpload" required placeholder="Choose file" name="fileUpload" type="file">
                        </div>
                    </div>
					<div class="col-sm-6 text-right">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                        </div>
                    </div>

                </div>
           
        }
    }
            <!--end::Form-->
			
	</div>
        </div>

        <!--end::Portlet-->
    </div>
</div>
