﻿@using PagedList.Mvc;
@model PagedList.IPagedList<theratrove.data.User>  
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

   

<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Admin")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">Admin User</span>
                        </a>
                    </li>
                    
                </ul>
            </div>

        </div>
    </div>
	
    
	
    <!-- END: Subheader -->
    <div class="m-content">
         
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Admin User 
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="@Url.Action("User", "Admin")" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New record</span>
                                </span>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item"></li>
                        
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">

                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable">
                    <thead>
                        <tr>
                            <th>@Html.ActionLink("ID", "UserList", new { sortOrder = "ID", CurrentSort = ViewBag.CurrentSort, OrderBy=ViewBag.OrderBy })</th>
                            <th>@Html.ActionLink("Username", "UserList", new { sortOrder = "Username", CurrentSort = ViewBag.CurrentSort, OrderBy = ViewBag.OrderBy })</th>
                            <th>@Html.ActionLink("Email Id", "UserList", new { sortOrder = "Email", CurrentSort = ViewBag.CurrentSort, OrderBy = ViewBag.OrderBy })</th>
                            <th>@Html.ActionLink("Active", "UserList", new { sortOrder = "Active", CurrentSort = ViewBag.CurrentSort, OrderBy = ViewBag.OrderBy })</th>
                            
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserId</td>
                                <td>@item.UserName</td>
                                <td> @item.Email    </td>
                                
                                <td>@item.Active</td>
                                <td>
                                    <a href="@Url.Action("User", "Admin", new { userId = item.UserId })" class="btn btn-outline-primary btn-sm 	m-btn m-btn--icon m-btn--pill">
                                        <span>
                                            <i class="fa fa fa-edit"></i>
                                            <span> Edit </span>
                                        </span>
                                    </a>
                                    <a href="@Url.Action("DeleteUser", "Admin", new { id = item.UserId })"
                                       onclick="return confirm ('Are you sure want to delete this user?');"
                                       class="btn btn-outline-danger m-btn btn-sm  m-btn--icon m-btn--pill">
                                        <span>
                                            <i class="fa fa-trash"></i>
                                            <span>Delete</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                        
                      
                    </tbody>
                </table>
                <br />
                <div id='Paging' style="text-align:center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("UserList", new { sortOrder = ViewBag.CurrentSort, CurrentSort = ViewBag.CurrentSort  , page= page, OrderBy = ViewBag.OrderBy }))
                </div>
                 
            </div>
        </div>

        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
