﻿@model theratrove.Models.WidgetsMode
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}



<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <table>
        <tr>
            <td>City</td>
            <td>City Count</td>
        </tr>

        @foreach (var item in Model.WidgetCity)
        {
            <tr>
                <td>@item.City</td>
                <td>@item.CityCount</td>
            </tr>
        }
    </table>

    <b> Total Searches  @Model.TotalSearches</b>
</div>