﻿<div class="job_title">Insurance</div>
<div class="borderfull-width"></div>
<div class="page-heading">
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_5" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_5">$0 - $25 (231)</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_4" name="ossm" checked="">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_4">$25 - $50 (297)</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_3" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_3">$50 - $100 (78)</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_2" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_2">$100 - $200 (98)</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_1" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_1">$200+ (21)</label>
        </div>
    </div>
</div>