﻿<div class="job_title">Issues</div>
<div class="borderfull-width"></div>
<div class="page-heading">
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_9" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_9">All Type</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_8" name="ossm" checked="">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_8">Full Time</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_7" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_7">part Time</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="cb_6" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="cb_6">Freelancer</label>
        </div>
    </div>
</div>