﻿@model theratrove.Models.SearchResults

@{
    ViewBag.Title = "Therapist List";
}
@using System.Web.Script.Serialization
@{
    var javaScriptSearilizer = new JavaScriptSerializer();
    var searializedObject = javaScriptSearilizer.Serialize(Model.RattingListData);
}
<script>
    function setPageNumber(i) {
        $("#pageNo").val(i);
        document.forms[0].submit();
        return false;
    }


    $(function () {

        $(".rateYo").each(function (e) {
            $(this).rateYo({

                rating: 0,
                starWidth: "20px",
                numStars: 5,
                fullStar: false,
                readOnly: true
            });
        });

        

       var searializedObject = @Html.Raw(searializedObject);
           for (i = 0; i < searializedObject.length; i++) {
               var item = searializedObject[i];
               $("#" + item.Id).rateYo("option", "rating", item.Ratting); //returns a jQuery Element
       } 
    
    });
</script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


<div class="page_banner banner employer-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Browse Matches</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="resume">
        @*@using (Ajax.BeginForm("FilterTherapist", "Search", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divTheraistResult" },new { id="filterForm" }))
            {*@
        @using (Html.BeginForm("FilterTherapist", "Search", FormMethod.Post, new { @id = "filterForm" }))
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="job-search">
                            <div class="form-group">
                                <input type="text" name="keyworksearch" id="keyworksearch" class="form-control" placeholder="Job title / keywords" value="@Model.keyword">
                                <div class="search_icon"><span class="ti-briefcase"></span></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="location" id="location" class="form-control" placeholder="Zip Code" value="@Model.location">
                                <div class="search_icon"><span class="ti-location-pin"></span></div>
                            </div>
                        </div>
                        @foreach (var x in Model.FilterOptions)
                {
                            <div class="job_title">@x.FilterName</div>
                            <div class="borderfull-width"></div>
                            <div class="page-heading">
                                <div class="category">
                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                    {
                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                            foreach (var item in x.FilterValues)
                                            {
                                                if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Faith)
                                                {
                                                    <div class="col-md-1 p-l p-r">
                                                        @if (@Model.SelectedFaith.Contains(item.Value))
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedFaith"
                                                                   value="@item.Value"
                                                                   checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedFaith"
                                                                   value="@item.Value" />
                                                        }

                                                    </div>
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.For)
                                                {
                                                    <div class="col-md-1 p-l p-r">
                                                        @if (@Model.SelectedFor.Contains(item.Value))
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedFor"
                                                                   value="@item.Value"
                                                                   checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedFor"
                                                                   value="@item.Value" />
                                                        }
                                                    </div>
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Insurance)
                                                {
                                                    <div class="col-md-1 p-l p-r">
                                                        @if (@Model.SelectedInsurance.Contains(item.Value))
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedInsurance"
                                                                   value="@item.Value"
                                                                   checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedInsurance"
                                                                   value="@item.Value" />
                                                        }
                                                    </div>
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Issues)
                                                {
                                                    <div class="col-md-1 p-l p-r">
                                                        @if (@Model.SelectedIssues.Contains(item.Value))
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedIssues"
                                                                   value="@item.Value"
                                                                   checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedIssues"
                                                                   value="@item.Value" />
                                                        }
                                                    </div>
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.GenderPreference)
                                                {
                                                    <div class="col-md-1 p-l p-r">
                                                        @if (@Model.SelectedGender.Contains(item.Value))
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedGenderPreference"
                                                                   value="@item.Value"
                                                                   checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedGenderPreference"
                                                                   value="@item.Value" />
                                                        }
                                                    </div>
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Language)
                                                {
                                                    <div class="col-md-1 p-l p-r">
                                                        @if (@Model.SelectedLanguage.Contains(item.Value))
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedLanguage"
                                                                   value="@item.Value"
                                                                   checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedLanguage"
                                                                   value="@item.Value" />
                                                        }
                                                    </div>
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Location)
                                                {
                                                    <div class="col-md-1 p-l p-r">
                                                        @if (@Model.SelectedLocation.Contains(item.Value))
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedLocation"
                                                                   value="@item.Value"
                                                                   checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox"
                                                                   name="SelectedLocation"
                                                                   value="@item.Value" />
                                                        }
                                                    </div>
                                                }
                                                <div class="col-md-11 p-l p-r">
                                                    <label>@item.Text</label>
                                                </div>
                                            }
                                            break;
                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                            <div class="">
                                                @if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Faith)
                                                {
                                                    @Html.DropDownList("SelectedFaith", x.FilterValues, "Select Faith", new { @class = "form-control" })
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.For)
                                                {
                                                    @Html.DropDownList("SelectedFor", x.FilterValues, "Select For", new { @class = "form-control" })
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Insurance)
                                                {
                                                    @Html.DropDownList("SelectedInsurance", x.FilterValues, "Select Insurance", new { @class = "form-control" })
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Issues)
                                                {
                                                    @Html.DropDownList("SelectedIssues", x.FilterValues, "Select Issues", new { @class = "form-control" })
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.GenderPreference)
                                                {
                                                    @Html.DropDownList("SelectedGender", x.FilterValues, "Select Gender", new { @class = "form-control" })
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Location)
                                                {
                                                    @Html.DropDownList("SelectedLocation", x.FilterValues, "Select Location", new { @class = "form-control" })
                                                }
                                                else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Language)
                                                {
                                                    @Html.DropDownList("SelectedLanguage", x.FilterValues, new { @class = "form-control" })
                                                }
                                            </div>
                                            break;
                                    }
                                </div>
                            </div>
                        }
                        <div class="borderfull-width"></div>
                        <input class="btn btn-default" type="submit" value="Search" name="btnSearch" />
                    </div>
                    <div class="col-md-9">
                        <div id="divTheraistResult">
                            <div class="col-md-7 col-sm-7 p-l">
                                <div class="page-heading">
                                    @if (Model.NoOfRecords <= 0)
                                    {
                                        <p>No Result Found</p>
                                    }
                                    else
                                    {
                                        <p> @Model.RecordsRange </p>
                                    }
                                </div>
                            </div>
                            @*<div class="col-md-5 col-sm-5 filter p-r text-right">

                                    <div class="col-md-7 col-sm-5"><p>Short by:</p></div>
                                    <div class="col-md-5 col-sm-7 p-r">
                                        <div class="dropdown">
                                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">By Default <span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right">
                                                    <li><a href="#">Executive</a></li>
                                                    <li><a href="#">SEO</a></li>
                                                    <li><a href="#">Java Developer</a></li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="clearfix"></div>
                            <div class="page_listing candidate">
                                <input type="hidden" value="@ViewBag.FilterPara" />
                                @*@if (Model != null && Model.TherapistList.Count() > 0)*@
                                @if (Model != null && Model.TherapistList.Count() > 0)
                                {
                                    foreach (var item in Model.TherapistList)
                                    {
                                        <div class="sorting_content">
                                            @*//To do: need to get Image of therapist*@
                                            <div class="tab-image">
                                                @if (!string.IsNullOrEmpty(item.User.ProfilePicURL))
                                                {
                                                    <img class="img-responsive center-block" src="@item.User.ProfilePicURL" />
                                                }
                                                else
                                                {
                                                    <img class="img-responsive center-block" src=@Url.Content("~/assets/images/dummyuserimage.png") />
                                                }
                                                @*<div id="rateYo" data-thid="@item.Id"></div>*@

                                                <div class="rateYo" id="@item.Id"></div>
                                                <div class="rating-count">Reviews</div>
                                            </div>


                                            <div class="overflow">
                                                <div class="text-shorting">
                                                    <h1>
                                                        @Html.ActionLink(string.Format("{0} {1}", item.FirstName, item.LastName), "Therapist", "Search", new { Id = item.Id }, null)
                                                    </h1>
                                                    <div class="contact_details">
                                                        <span>@item.Title</span>
                                                    </div>
                                                </div>
                                                <ul class="unstyled">
                                                    @if (!string.IsNullOrEmpty(item.YearsInService))
                                                    {
                                                        <li><span><strong>Years In Service: </strong> <i class="fa "></i> @item.YearsInService</span></li>
                                                    }
                                                    @if (item.AvgCost != null)
                                                    {
                                                        <li><span><strong>Avg Cost: </strong> <i class="fa fa-money"></i> @item.AvgCost</span></li>
                                                    }
                                                    @if (!string.IsNullOrEmpty(item.Education))
                                                    {
                                                        <li><span><strong>Education: </strong> <i class="fa "></i> @item.Education</span></li>
                                                    }
                                                </ul>
                                                <div class="bottom_text">
                                                    @*<div class="contact_details col-md-4 col-sm-4 p-l">
                                                            <span><strong>Location:</strong> @item.Location</span>
                                                        </div>*@
                                                    <div class="contact_details col-md-8 col-sm-8 p-l">
                                                        @*<span>
                                                                <strong>Skills:</strong>
                                                                @if (item.TherapistTypesOfTherapies != null && item.TherapistTypesOfTherapies.Count > 0)
                                                                {
                                                                    string.Join(",", item.TherapistTypesOfTherapies.Select(f => f.TherapyType.Name));
                                                                }
                                                            </span>*@
                                                    </div>
                                                    <p></p>
                                                    <p class="col-md-12 p-l">
                                                        @Html.Raw(item.AboutMe)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <ul class="pagination pull-right">
                                @if (Model.NoOfRecords > 0)
                                {
                                    <li class="active"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    for (int i = 1; i <= (Model.NoOfRecords + 10 - 1) / 10; i++)
                                    {
                                        if (Model.ActivePage == i)
                                        {
                                            <li class="active">
                                                <a href="#" id="pageNumber" onclick="setPageNumber('@i');" datapagenumber="@i">@i </a>
                                                <input type="hidden" name="pageNo" id="pageNo" />
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="#" id="pageNumber" onclick="setPageNumber('@i');" datapagenumber="@i">@i </a>
                                                <input type="hidden" name="pageNo" id="pageNo" />
                                            </li>
                                        }
                                        //var j = j += 1;


                                    }
                                    <li class="active"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                }
                            </ul>
                            @*@Html.Partial("_TherapistList", Model)*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</main>
