﻿@model theratrove.data.Therapist

@{
    ViewBag.Title = "Therapist";
}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnPost").click(function () {

            var message = new Object();
            message.fullName = $('#fullName').val();
            message.emailAddress = $('#emailAddress').val();
            message.message = $('#message').val();
            message.therapistId = $('#Id').val();
            
            if (message != null) {
                $.ajax({
                    type: "POST",
                    url: "/Search/SendContactEmail",
                    data: JSON.stringify(message),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $('#fullName').val("");
                        $('#emailAddress').val("");
                        $('#message').val("");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });
    });

    $(function () {

        $(".rateYo").rateYo({
            rating: @ViewBag.TherapistRating,
            starWidth: "20px",
            numStars: 5,
            fullStar: false
        });
        $(".rateYo").rateYo()
            .on("rateyo.set", function (e, data) {

                var ThRating = { rating: data.rating, thid: @Model.Id };

                $.ajax({
                    url: "/Search/AddRaging",
                    type: "POST",
                    dataType: "json",
                    data: ThRating,
                    success: function (data) {
                        
                        $("#therapistRating").empty();
                        $("#therapistRating").append(data.ratingAverate);
                        $("#therapistCount").empty();
                        $("#therapistCount").append("Based on " + data.therapistCount + " reviews");
                       
                    }
                });
            });
    });

    function updateRate(rateValue)
    {
       
        $("#therapistRating").empty();
        $("#therapistRating").append(rateValue);

        //$("#rateYo").rateYo("option", "rating", rateValue);
        //location.reload();

    }

    @*$(function () {

        $(".rateYo").each(function (e) {
            $(this).rateYo({

                onSet: function (rating, rateYoInstance) {

                    var ThRating = { rating: rating, thid: this.id };
                    
                    $.ajax({
                        url: "/Search/AddRaging",
                        type: "POST",
                        dataType: "json",
                        data: ThRating,
                        success: function (data) {
                            
                            console.log(data.ratingAverate)

                        }
                    });
                },
                rating: @ViewBag.TherapistRating,
                starWidth: "20px",
                numStars: 5,
                fullStar: false
            });
        });*@

        //$("#rateYo").rateYo({
        //    onSet: function (rating, rateYoInstance) {
        //        var thid = $("#rateYo").attr("data-thid");

        //        var data = { rating: rating, thid: thid };
        //        $.ajax({
        //            url: "/Search/AddRaging",
        //            type: "POST",
        //            dataType: "json",
        //            data: data,
        //            success: function (data) {
        //            }
        //        })
        //    }
        //});
  //});
</script>
 
<div class="page_banner banner resume-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Therapist</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="resume">
        <div class="container">
            <div class="row">
                <div class="col-md-3 author">
                    <div class="panel-body">
                        @Html.HiddenFor(model => model.Id)
                        <a href="#">
                            @if (!string.IsNullOrEmpty(Model.User.ProfilePicURL))
                            {
                                <img class="img-responsive center-block" src="@Model.User.ProfilePicURL" />
                            }
                            else
                            {
                                <img class="img-responsive center-block" src=@Url.Content("~/assets/images/dummyuserimage.png") />
                            }
                        </a>

						<div class="star-rating">
							<div id="therapistRating"  class="rating-number">@ViewBag.TherapistRating  </div>
                        	<div class="rateYo" id="@Model.Id "></div>
                        	<div id="therapistCount" class="rating-count">Based on @ViewBag.TherapistCount reviews</div>
                        </div>
                        <div class="job_title">
                            <p></p>
                            @string.Format("Hi, {0} {1}", Model.FirstName, Model.LastName)
                            @*<a href="#">Marriage & Family Therapist</a>*@
                            @*To do: need check above link with text from DB*@

                            @Model.Title
                        </div>
                        <div class="contact_details">
                            <span><i class="fa fa-envelope"></i><a href="mailto:@Model.User.Email">Message Me</a></span>
                            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                            {
                                <span><i class="fa fa-phone"></i> <a href="tel:@Model.PhoneNumber">Call Me</a></span>
                            }
                            @if (!string.IsNullOrEmpty(Model.Address1))
                            {
                                <span><i class="fa fa-map-marker"></i>@Model.Address1, @Model.Address2, @Model.City, @Model.State, @Model.ZipCode</span>
                            }
                        </div>
                    </div>
@if (Model.TherapistExpertiseFaiths.Count > 0 || Model.TherapistExpertiseFors.Count > 0 || Model.TherapistExpertiseGenderPreferences.Count > 0 || Model.TherapistExpertiseLanguages.Count > 0 || Model.TherapistExpertiseInsurances.Count > 0)
{
                    <div class="panel-body">
                        <div class="job_title">
                            Focus
                        </div>
                        <div class="contact_details">
                            @if (Model.TherapistExpertiseFaiths.Count > 0)
                            {
                                <span><strong>Faith:</strong> @string.Join(", ", Model.TherapistExpertiseFaiths.Select(f => f.SearchFilterValue.Name))</span>
                            }
                            @if (Model.TherapistExpertiseFors.Count > 0)
                            {
                                <span><strong>For:</strong> @string.Join(", ", Model.TherapistExpertiseFors.Select(f => f.SearchFilterValue.Name))</span>
                            }
                            @*<span><strong>Issues:</strong> @string.Join(", ", Model.TherapistExpertiseIssues.Select(f => f.SearchFilterValue.Name)))</span>*@
                            @if (Model.TherapistExpertiseGenderPreferences.Count > 0)
                            {
                                <span><strong>Gender:</strong> @string.Join(", ", Model.TherapistExpertiseGenderPreferences.Select(f => f.SearchFilterValue.Name))</span>
                            }
                            @if (Model.TherapistExpertiseLanguages.Count > 0)
                            {
                                <span><strong>Language:</strong> @string.Join(", ", Model.TherapistExpertiseLanguages.Select(f => f.SearchFilterValue.Name))</span>
                            }
                            @if (Model.TherapistExpertiseInsurances.Count > 0)
                            {
                                <span><strong>Insurance:</strong> @string.Join(", ", Model.TherapistExpertiseInsurances.Select(f => f.SearchFilterValue.Name))</span>
                            }

                            @*<span><strong>Faith:</strong> @string.Join(", ", Model.TherapistExpertises.Where(e => e.SearchFilter.FilterType == 1).Select(e => e.SearchFilterValue.Name)) </span>
                                <span><strong>For:</strong> @string.Join(", ", Model.TherapistExpertises.Where(e => e.SearchFilter.FilterType == 2).Select(e => e.SearchFilterValue.Name))</span>

                                <span><strong>Gender:</strong> @string.Join(", ", Model.TherapistExpertises.Where(e => e.SearchFilter.FilterType == 5).Select(e => e.SearchFilterValue.Name))</span>

                                <span><strong>Language:</strong> @string.Join(", ", Model.TherapistExpertises.Where(e => e.SearchFilter.FilterType == 6).Select(e => e.SearchFilterValue.Name))</span>*@
                        </div>
                    </div>
                    }
                    <div class="panel-body">
                        <div class="job_title block1">
                            Contact
                        </div>
                        <p></p>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" />
                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="message" name="message" placeholder="Message"></textarea>
                        </div>

                        <button id="btnPost" class="btn btn-default btn-block">Submit Message</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel-body">
                        <div class="page-heading" style="padding:0;">
                            <h2>Basic Information</h2>
                            @if (!string.IsNullOrEmpty(Model.YearsInService))
                            {
                                <div class="contact_details col-md-6 p-l">
                                    <span><strong>Years in Practice: </strong> @string.Format("{0} Years", Model.YearsInService)</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.Education))
                            {
                                <div class="contact_details col-md-6 p-l">
                                    <span><strong>Education: </strong>@Model.Education</span>
                                </div>
                            }
                            @if (Model.AvgCost != null)
                            {
                                <div class="contact_details col-md-6 p-l">
                                    <span><strong>Avg.Cost: </strong>$ @Model.AvgCost </span>
                                </div>
                            }

                            <div class="contact_details col-md-6 p-l">
                                <span><strong>Accept Insurance: </strong> @string.Format("{0}", @Model.AcceptInsurance == true ? "Yes" : "No")</span>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.License))
                            {
                                <div class="contact_details col-md-6 p-l">
                                    <span><strong>License: </strong>@Model.License</span>
                                </div>

                            }
                            @if (!string.IsNullOrEmpty(Model.VideoUrl))
                            {
								<div class="contact_details col-md-12 p-l">
                                <div class="video-sec" style="margin-bottom:20px;">
                                    <object data="@Model.VideoUrl"
                                            width="100%" height="350" ></object>

                                    @*<iframe width="100%" height="350" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>*@

                                    @*<object width="218" height="137">
                                            <param name="movie" value="@Model.VideoUrl"></param>
                                            <param name="allowFullScreen" value="true"></param>
                                            <param name="allowscriptaccess" value="always"></param>
                                            <embed src="@Model.VideoUrl" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="218" height="137">
                                            </embed>
                                        </object>*@

                                </div>
								</div>
                            }
                            @if (!string.IsNullOrEmpty(Model.AboutMe))
                            {
								<div class="contact_details col-md-12 p-l">
                                <div class="page-heading">
									<h2>About Me:</h2>
                                    <p>@Html.Raw(Model.AboutMe)</p>
                                </div>
								</div>
								<div class="borderfull-width"></div>
                            }
                            @if (Model.TherapistTypesOfTherapies.Count > 0)
                            {
								<div class="contact_details col-md-12 p-l">
                                <div class="page-heading">
                                    <h2>Types of Therapy</h2>
                                    <div>
                                        <ul>
                                            @foreach (var item in Model.TherapistTypesOfTherapies)
                                            {
                                                <li><p> @item.TherapyType.Name </p></li>
                                            }
                                        </ul>
                                        
                                    </div>
                                </div>
								</div>
								<div class="borderfull-width"></div>
                            }
                            @if (Model.TherapistExpertiseIssues.Count > 0)
                            {
								<div class="contact_details col-md-12 p-l">
                                <div class="page-heading">
                                    <h2>Issues</h2>

                                    
                                        <div class="row">

                                            @*@foreach (var item in Model.TherapistExpertises.Where(e => e.SearchFilter.FilterType == 3).Select(e => e.SearchFilterValue.Name))*@
                                            @foreach (var item in Model.TherapistExpertiseIssues.Select(e => e.SearchFilterValue.Name))
                                            {
                                                <div class="contact_details col-xs-4 col-sm-4 col-md-4">
                                                    <span>
                                                        @item
                                                    </span>
                                                </div>
                                            }

                                        </div> <!-- End row -->
                                    

                                </div>
								</div>
								<div class="borderfull-width"></div>
                            }

                            @if (Model.TherapyGalleries.Count > 0)
                            {	
								<div class="contact_details col-md-12 p-l">
                                <div class="page-heading">
                                    <h2>Gallery</h2>
                                    <div class="row">
                                        @foreach (var therapyGallery in Model.TherapyGalleries)
                                        {
                                            <div class="col-sm-4 col-md-3 ">
                                                <div class="profile-gallery">
                                                    <img class="img-responsive" alt="@therapyGallery.Id" src="@therapyGallery.GalleryImageURL" />
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
								</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
