﻿@model theratrove.data.PageContent
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutNoneMenu.cshtml";
}

<div class="page_banner about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">About Us</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    @Html.Raw(Model.PageContent1)

</main>


