﻿@{
    ViewBag.Title = "Activation";
}

<div class="page_banner banner employer-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Activation</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="manage">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="page-heading">
                        <h2>@ViewBag.Message</h2>
                    </div>
                </div>
                 
            </div>
        </div>
    </section>
</main>
