﻿@model theratrove.Models.ChangePasswordVM
@{
    ViewBag.Title = "Change Password";
}

<div class="page_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Change Password</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @{
                    Html.RenderPartial("leftMenu");
                }
            </div>

            <div class="col-md-9 ">
                <div class="page-tab">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    { 
                        <div class="alert alert-danger">
                            <strong>@ViewBag.ErrorMessage</strong>
                        </div>
                    }

                    <div id="form">
                        <div id="userform">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li class="active border-right"><a href="#login" role="tab" data-toggle="tab">Change Password</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="login">
                                    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                                    {
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.UserId)
                                        @*<form id="login" action="ChangePassword" method="post">*@
                                        
                                        <div class="form-group">
                                            <label>Password</label>
                                            @*<input type="password" class="form-control" id="password"
                                                   name="password" required data-validation-required-message="Please enter your password. " autocomplete="off">*@
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", @type = "password" })
                                            <div class="search_icon"><span class="ti-pin"></span></div>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password </label>
                                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Password", @type = "password" })
                                            <div class="search_icon"><span class="ti-pin"></span></div>
                                        </div>
                                        <div class="mrgn-30-top">
                                            <button type="submit" class="btn btn-larger btn-block">
                                                Change Password
                                            </button>
                                        </div>


                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
