﻿@{
    ViewBag.Title = "Contact";
}
 

<div class="page_banner banner price-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Contact Us</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="contact_us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-heading">
                        <h2>Get In Touch With Us</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <form id="contact" action="Contact" method="post">

                           
                            <div class="form-group col-md-6 p-l">
                                <label>Name</label>
                                <input type="text" id="name" name="name" required maxlength="50" class="form-control" />
                            </div>
                            <div class="form-group col-md-6 p-r">
                                <label>E-mail</label>
                                <input type="email" id="email" name="email" required maxlength="100"  class="form-control" />
                            </div>
                            <div class="form-group col-md-12 p-l p-r">
                                <label>Subject</label>
                                <input type="text" id="subject" name="subject" required maxlength="50" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 p-l p-r">
                                <label>Message</label>
                                <textarea type="text" id="message" name="message" required maxlength="500" class="form-control"></textarea>
                            </div>
                            <div class="col-md-5 p-l">
                                <button type="submit" class="btn btn-larger btn-block">
                                    Submit Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>