﻿@{
    ViewBag.Title = "Forgot Password";
}

<div class="page_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Forgot Password</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="page-tab">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-success">
                            <strong>@ViewBag.ErrorMessage</strong>
                        </div>
                    }
                    
                    <div id="form">
                        <div id="userform">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                
                                <li><a href="#signup" role="tab" data-toggle="tab">Forgot Password</a></li>
                                

                            </ul>
                            
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="login">
                                   
                                    <form id="forgotPassword" action="ResetPassword" method="post">
                                        <div class="form-group">
                                            <label>Username or Email Address</label>
                                            <input type="text" class="form-control" id="userName" name="userName" required data-validation-required-message="Please enter your email address." autocomplete="off">
                                            <div class="search_icon"><span class="ti-user"></span></div>
                                        </div>
                                         
                                        <div class="mrgn-30-top">
                                            <button type="submit" class="btn btn-larger btn-block" >
                                                Forgot Password</button>
                                        </div>
                                        
                                    </form>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>