﻿@model theratrove.data.PageContent
@{
    ViewBag.Title = "How it work";
    Layout = "~/Views/Shared/_LayoutNoneMenu.cshtml";
}

<main id="maincontent">
     
    <section>
        @Html.Raw(Model.PageContent1)
        
    </section>


</main>