﻿<div class="Resume">
    <h1>My Account</h1>
    <ul class="unstyled">
        <li class= @(ViewContext.RouteData.Values["action"].ToString() == "Profile" ? "active" : "")    ><a href="@Url.Action("Profile", "Home")"><i class="fa fa-caret-right"></i> My Profile</a></li>
        @*<li class= @(ViewContext.RouteData.Values["action"].ToString() == "MyProfile" ? "active" : "")><a href="@Url.Action("MyProfile", "Home")"><i class="fa fa-caret-right"></i> Edit Profile</a></li>*@
        <li  class= @(ViewContext.RouteData.Values["action"].ToString() == "ChangePassword" ? "active" : "")   ><a href="@Url.Action("ChangePassword", "Home")"><i class="fa fa-caret-right"></i> Change Password</a></li>
        <li class="border-none"><a href="@Url.Action("Logout", "Home")"><i class="fa fa-caret-right"></i> Sign Out</a></li>
    </ul>
</div>