﻿@{
    ViewBag.Title = "My Account";
    
}


<div class="page_banner banner price-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">My Account</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="contact_us">
        <div class="container"> 

            <div class="row">
                <div class="col-md-3">
                    @{
                        Html.RenderPartial("leftMenu");
                    }
                </div>
                 
            </div>
        </div>
    </section>
</main>