﻿@model theratrove.Models.UserWebModel
@{
    ViewBag.Title = "My Profile";

}

@Styles.Render("~/assets/plugins/summernote/summernote.css")
@Scripts.Render("~/assets/js/jquery.min.js")
@Scripts.Render("~/assets/js/bootstrap.js")
@Scripts.Render("~/assets/plugins/summernote/summernote.js")
<script type="text/javascript">
    (function ($) {
        function HomeIndex() {
            var $this = this;

            function initialize() {
                $('#AboutMe').summernote({
                    focus: true,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['para', ['ul', 'ol']],
                        ['insert', ['link', 'picture', 'hr']],
                        ['view', ['fullscreen', 'codeview']],
                        ['help', ['help']]
                    ],

                    height: 200,
                    codemirror: {
                        theme: 'united'
                    }
                });
            }

            $this.init = function () {
                initialize();
            }
        }
        $(function () {
            var self = new HomeIndex();
            self.init();
        })
    }(jQuery))
</script>

<div class="page_banner banner price-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">My Account</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @{
                Html.RenderPartial("leftMenu");
                }
            </div>
            <div class="col-md-9">
                <div class="page-tab">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger">
                            <strong>@ViewBag.ErrorMessage</strong>
                        </div>
                    }

                    <div id="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>Edit Profile</h1>


                            </div>
                        </div>

                        <div class="table_border table_wrap" style="overflow:hidden">

                            <div class="tab-pane fade active in" id="signup">
                                @if (!string.IsNullOrEmpty(Model.ProfilePic))
                                {
                                    <div class="edit-profile-img">
                                        <img class="img-responsive" alt="@Model.FirstName" src="@Model.ProfilePic" />
                                    </div>

                                }
                                @using (Html.BeginForm("ProfilePicUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h2> <span>Profile Pic</span> </h2>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">

                                                    <input class="custom-file-input" id="fileUpload" placeholder="Choose file" required name="fileUpload" type="file">
                                                    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                }
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2> <span>Contact Information</span> </h2>
                                    </div>
                                </div>
                                @using (Html.BeginForm("MyProfile", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="m-portlet__body">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        @Html.HiddenFor(model => model.UserId)

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">First Name  </label>
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Last Name</label>
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Title</label>
                                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Gender</label>
                                                    <br />
                                                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
                                                    {
                                                    new SelectListItem{ Text="Male", Value="1"},
                                                    new SelectListItem{ Text="Female", Value="2"}
                                                    }, "--- Select ---"
                                                    , new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Years In Service </label>
                                                    @Html.EditorFor(model => model.YearsInService, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Education</label>
                                                    @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Accept Insurance </label>
                                                    @Html.EditorFor(model => model.AcceptInsurance, new { htmlAttributes = new { @class = "" } })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">License</label>
                                                    @Html.EditorFor(model => model.License, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">About Me</label>
                                                    @Html.TextAreaFor(model => model.AboutMe, new { @class = "form-control", rows = 5 })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Video Url</label>
                                                    @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Phone Number</label>
                                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Location</label>
                                                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Avg Cost</label>
                                                    @Html.EditorFor(model => model.AvgCost, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Address1</label>
                                                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Address2</label>
                                                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">City</label>
                                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">State</label>
                                                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">ZipCode</label>
                                                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="exampleInputEmail1">Faith</label>
                                            </div>

                                            @for (var i = 0; i < Model.SelectedFaith.Count(); i++)
                                            {
                                                <div class="col-sm-4">

                                                    @Html.HiddenFor(m => Model.SelectedFaith[i].Id)
                                                    @Html.HiddenFor(m => Model.SelectedFaith[i].itemFor)
                                                    @Html.HiddenFor(m => Model.SelectedFaith[i].Name)
                                                    @Html.CheckBoxFor(m => Model.SelectedFaith[i].Checked)
                                                    @Html.DisplayFor(m => Model.SelectedFaith[i].Name)

                                                </div>
                                            }
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="exampleInputEmail1">For</label>
                                            </div>

                                            @for (var i = 0; i < Model.SelectedFor.Count(); i++)
                                            {
                                                <div class="col-sm-4">

                                                    @Html.HiddenFor(m => Model.SelectedFor[i].Id)
                                                    @Html.HiddenFor(m => Model.SelectedFor[i].itemFor)
                                                    @Html.HiddenFor(m => Model.SelectedFor[i].Name)
                                                    @Html.CheckBoxFor(m => Model.SelectedFor[i].Checked)
                                                    @Html.DisplayFor(m => Model.SelectedFor[i].Name)

                                                </div>
                                            }
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="exampleInputEmail1">Gender Preference</label>
                                            </div>

                                            @for (var i = 0; i < Model.SelectedGenderPreference.Count(); i++)
                                            {
                                                <div class="col-sm-4">

                                                    @Html.HiddenFor(m => Model.SelectedGenderPreference[i].Id)
                                                    @Html.HiddenFor(m => Model.SelectedGenderPreference[i].itemFor)
                                                    @Html.HiddenFor(m => Model.SelectedGenderPreference[i].Name)
                                                    @Html.CheckBoxFor(m => Model.SelectedGenderPreference[i].Checked)
                                                    @Html.DisplayFor(m => Model.SelectedGenderPreference[i].Name)

                                                </div>
                                            }
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="exampleInputEmail1">Location</label>
                                            </div>

                                            @for (var i = 0; i < Model.SelectedLocation.Count(); i++)
                                            {
                                                <div class="col-sm-4">

                                                    @Html.HiddenFor(m => Model.SelectedLocation[i].Id)
                                                    @Html.HiddenFor(m => Model.SelectedLocation[i].itemFor)
                                                    @Html.HiddenFor(m => Model.SelectedLocation[i].Name)
                                                    @Html.CheckBoxFor(m => Model.SelectedLocation[i].Checked)
                                                    @Html.DisplayFor(m => Model.SelectedLocation[i].Name)

                                                </div>
                                            }
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="exampleInputEmail1">Language</label>
                                            </div>

                                            @for (var i = 0; i < Model.SelectedLanguage.Count(); i++)
                                            {
                                                <div class="col-sm-4">

                                                    @Html.HiddenFor(m => Model.SelectedLanguage[i].Id)
                                                    @Html.HiddenFor(m => Model.SelectedLanguage[i].itemFor)
                                                    @Html.HiddenFor(m => Model.SelectedLanguage[i].Name)
                                                    @Html.CheckBoxFor(m => Model.SelectedLanguage[i].Checked)
                                                    @Html.DisplayFor(m => Model.SelectedLanguage[i].Name)

                                                </div>
                                            }
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="exampleInputEmail1">Insurance</label>
                                            </div>

                                            @for (var i = 0; i < Model.SelectedInsurance.Count(); i++)
                                            {
                                                <div class="col-sm-4">

                                                    @Html.HiddenFor(m => Model.SelectedInsurance[i].Id)
                                                    @Html.HiddenFor(m => Model.SelectedInsurance[i].itemFor)
                                                    @Html.HiddenFor(m => Model.SelectedInsurance[i].Name)
                                                    @Html.CheckBoxFor(m => Model.SelectedInsurance[i].Checked)
                                                    @Html.DisplayFor(m => Model.SelectedInsurance[i].Name)

                                                </div>
                                            }
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="exampleInputEmail1">Issues</label>
                                            </div>

                                            @for (var i = 0; i < Model.SelectedIssues.Count(); i++)
                                            {
                                                <div class="col-sm-4">

                                                    @Html.HiddenFor(m => Model.SelectedIssues[i].Id)
                                                    @Html.HiddenFor(m => Model.SelectedIssues[i].itemFor)
                                                    @Html.HiddenFor(m => Model.SelectedIssues[i].Name)
                                                    @Html.CheckBoxFor(m => Model.SelectedIssues[i].Checked)
                                                    @Html.DisplayFor(m => Model.SelectedIssues[i].Name)

                                                </div>
                                            }
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="exampleInputEmail1">Types Of Therapy</label>
                                            </div>

                                            @for (var i = 0; i < Model.SelectedTherapistTypesOfTherapy.Count(); i++)
                                            {
                                                <div class="col-sm-4">

                                                    @Html.HiddenFor(m => Model.SelectedTherapistTypesOfTherapy[i].Id)
                                                    @Html.HiddenFor(m => Model.SelectedTherapistTypesOfTherapy[i].Name)
                                                    @Html.CheckBoxFor(m => Model.SelectedTherapistTypesOfTherapy[i].Checked)
                                                    @Html.DisplayFor(m => Model.SelectedTherapistTypesOfTherapy[i].Name)

                                                </div>
                                            }
                                        </div>

                                    </div>
                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions m-form__actions">
                                            <div class="row">
                                                <div class="col-lg-9 ml-lg-auto">
                                                    <button type="submit" class="btn btn-brand btn-primary ">Submit</button>
                                                    @Html.ActionLink("Cancel", "MyAccount", "Home", null, new { @class = "btn  btn-cancel" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2> <span>Gallery</span> </h2>
                                    </div>
                                </div>

                                @foreach (var therapyGallery in Model.TherapyGalleryList)
                                {
                                    <div class="col-sm-4 col-md-3 ">
                                        <div class="profile-gallery">
                                            <img class="img-responsive" alt="@therapyGallery.Id" src="@therapyGallery.GalleryImageURL" />
                                            <center>
                                                <a href="@Url.Action("DeleteGalleryPic", "Home", new { id = therapyGallery.Id})" onclick="return confirm ('Are you sure want to delete this gallery pic?');" class="btn btn-danger btn-xs">
                                                    <span>
                                                        <i class="fa fa-trash"></i>
                                                        <span>Delete</span>
                                                    </span>
                                                </a>
                                            </center>
                                        </div>
                                    </div>

                                }

                                @if (Model.TherapyGalleryList.Count() <= 9)
                                {
                                    using (Html.BeginForm("GalleryPicUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {

                                        <div class="col-sm-12 ">


                                            <div class="m-portlet__body">
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <div class="form-group">

                                                            <input class="custom-file-input" id="fileUpload" required placeholder="Choose file" name="fileUpload" type="file">
                                                            <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>


