﻿@model theratrove.data.PageContent
@{
    ViewBag.Title = "Privacy Policy";
}

<div class="page_banner about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">
                    <h1>Privacy Policy </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <div class="container">
        <div class="Privacy_wrap">

            <div class="row">
                <div class="col-sm-12">
                   @Html.Raw(Model.PageContent1)
                </div>
            </div>



        </div>
    </div>

</main>
