﻿@{
    ViewBag.Title = "Message";
}

<div class="page_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">
                    <div class="alert alert-sucess">
                        <strong>@ViewBag.SucessMessage</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 