﻿@{
    ViewBag.Title = "Terms and condition";
    Layout = "~/Views/Shared/_LayoutNoneMenu.cshtml";
}

<div class="page_banner about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">
                    <h1>Terms and Conditions</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <div class="container">
        <div class="Privacy_wrap">

            <div class="row">
                <div class="col-sm-12">
                    @(Model==null?"": @Html.Raw(Model.PageContent1))
                </div>
            </div> 
        </div>
    </div>

</main>